<ion-view view-title="Issues List">
    <ion-nav-buttons side="secondary">
        <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
    </ion-nav-buttons>
    <ion-content>
        <form action="">
            <div id='newIssueContainer' ng-controller="issuesListController">

                <select>
                    <!--default value-->
                    <option selected disabled>Choose here</option>
                    <!--option générée sur la base de l'API-->
                    <option ng-repeat='issueType in issueTypes' value="{{issueType.id}}">{{issueType.name}}</option>
                </select><br>

            </div>
        </form> 
    </ion-content>
</ion-view>