<ion-view view-title="Issues List">
    <ion-nav-buttons side="secondary">
        <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
    </ion-nav-buttons>
    <ion-content>
        
            <div id='issuesListContainer' ng-controller="issuesListController">

                <div class='issueListBlock card' ng-repeat='issue in issues' value="{{issue.id}}" ui-sref="tab.issueDetails({issueId:issue.id})">
                    <!--option générée sur la base de l'API-->
                    <img class='issueListBlockImg' src="{{issue.imageUrl}}" alt="issue Photo" height="150" width="150">
                    <div class='issueListBlockInfo'>
                    <h3>{{issue.issueType.name}}</h3>
                    <p>{{issue.issueType.description}}</p>
                    <p>{{issue.state}}</p>
                    </div>
                </div>

            </div>
        
    </ion-content>
</ion-view>