<ion-view view-title="New Issue">
    <ion-nav-buttons side="secondary">
        <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
    </ion-nav-buttons>
    <ion-content>


        <!-- Map à injecter ici avec une geoloc auto modifiable -->
        <img src="img/banner.jpg" width="100%" alt="Citizen Engagement" />
        <leaflet defaults="mapDefaults" center="mapCenter" markers="mapMarkers" height="30%" data-tap-disabled="true"></leaflet>

        <!--formulaire transmettant les data à l'api-->
        <form action="">
            <div class="center" id="urlIssueContainer" ng-controller="takePicture">
                <input type="text" name="imageUrl" ng-model="imageUrl">
            </div>
            <div id='newIssueContainer' ng-controller="IssueTypesListCtrl">
                <!--Choix du type de l'issue-->
                <p>What kind of issue are your facing?</p>
                <!--Issue type form-->
                <select>
                    <!--default value-->
                    <option selected disabled>Choose here</option>
                    <!--option générée sur la base de l'API-->
                    <option ng-repeat='issueType in issueTypes' value="{{issueType.id}}">{{issueType.name}}</option>
                </select><br>

                <!--description de l'issue-->
                Description<br>
                <input type="text" name="description"><br>
                
                <!---->
                <br>
                <input type="submit" value="Submit">



            </div>
        </form> 
        <p ng-if="imageData">Picture taken ({{ imageData.length | number }} bytes)</p>
        <p ng-if="imageData"><img ng-src="data:image/png;base64,{{ imageData }}" width="100%" /></p>
        
        <div id="takePictureContainer" ng-controller="takePicture" padding="true">
            <p class="center"><button class="button button-positive" ng-click="takePicture()">Take picture</button></p>
        </div>

    </ion-content>
</ion-view>